p{
    font-style:italic;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    line-height: 40px;
}
#firstpara{
    background-color: rgb(52, 177, 150);
}
#secondpara{
    background-color:rgba(0, 21, 214, 0.877);
}
.firstclass{
    background-color: #ff0404;
}
.secondclass{
    background-color: hsla(118, 100%, 41%, 0.781);
}