h1{
    color: crimson;
    text-align: center;
    background-color: black;
}
p{
    background-color: blueviolet;
    color: floralwhite;
    text-align: center;
}
#hlo1{
    background-color: black;
    color: yellow;
    text-align: center;
}
pre{
    background-color: aquamarine;
    color: blue ;
}
p,h1,article{
    width: 500px;
    height: 150px;
    text-align: center;
}
article{
    background-color: aquamarine;
}
.paraclass{
    background-color: red;
}